body {

  background: #121212;
  font-family: "Droid Sans", sans-serif;
  font-size: 27px;
  color: #a0a0a0;
  line-height: 52.5px;
  margin: 0;
  text-align: left;
}

#wrap {

  width: 800px;
  margin: auto;
}

h1 {

  font-size: 57px;
  margin: 52.5px 0 52.5px 0;
  color: #e9e9e9;
}

canvas {

  display: none;
  margin: 2em 0 0 0;
}

a {

  color: #b4bbff;
  text-decoration: none;
}

a:hover {

  text-decoration: underline;
}
